.gitignore
health-first
.histfile
.zcompdump
.zshrc.zni
.zshrc~
.local/bin/ansible*
.local/bin/__pycache__
.local/bin/cookiecutter
.local/bin/gilt
.local/bin/molecule
.local/bin/slugify
.local/bin/tabulate
.local/bin/wsdump.py
.local/bin/yamllint
.local/bin/autopep8
.local/bin/flake8
.local/bin/pycodestyle
.local/bin/pydocstyle
.local/bin/pyflakes
.local/bin/pyls
.local/bin/yapf
.local/bin/activate-global-python-argcomplete
.local/bin/coverage
.local/bin/coverage-3.8
.local/bin/coverage3
.local/bin/hjson
.local/bin/hjson.cmd
.local/bin/mako-render
.local/bin/nose2
.local/bin/nose2-3.6
.local/bin/pipenv
.local/bin/pipenv-resolver
.local/bin/python-argcomplete-check-easy-install-script
.local/bin/python-argcomplete-tcsh
.local/bin/qmk
.local/bin/register-python-argcomplete
.local/bin/virtualenv
.local/bin/virtualenv-clone
.config/nvim/plugged
