.gitignore
health-first
.histfile
.zcompdump
.zshrc.zni
.zshrc~
.local/bin/ansible*
.local/bin/__pycache__
.local/bin/cookiecutter
.local/bin/gilt
.local/bin/molecule
.local/bin/slugify
.local/bin/tabulate
.local/bin/wsdump.py
.local/bin/yamllint
.local/bin/autopep8
.local/bin/flake8
.local/bin/pycodestyle
.local/bin/pydocstyle
.local/bin/pyflakes
.local/bin/pyls
.local/bin/yapf
